<!DOCTYPE html>
<link href="../static/tailwind.css" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-gray font-varela overflow-hidden">
<div title="main" class="bg-gray color text-white">

    <div title="navbar" class="block">
      <!-- {% if 'user' in session %} -->
      <div title="nav_bar_user" class="text-right text-3xl my-9">
          <span style="left: 5%;" id="users_online" class="white navigation_button" >1 User(s) Online</span>
          <!-- <a href="/">{{session['user']}}'s Profile </a> -->
          <a class="navigation_button" href="/">Test's Profile </a>
          <a class="navigation_button" id="inbox" href="/inbox">Inbox</a>
          <a class="navigation_button" id="logout_button" href="/logout">Logout</a>
      </div>
      <!-- {% else %}
        <div class="header_man header">{% block not_yet %}{% endblock %}</div>
      {% endif %}<br> -->
    </div>

    <div title="content-area" class="flex flex-row justify-around">

      <!--            NOTIFICATION AREA    -->
        <div title="notification-area" class="flex flex-col justify-between w-[25%] ">
            <div title="party-menu" class="flex flex-col panel h-[45%]">
                <h2 class="center_white font-bold text-3xl mb-4">
                  Party Members
                </h2>
                <button class="mb-2" type="button" id="invite_user">
                    <span class="fa fa-user-plus"></span>
                </button>
                <div title="party-members" class="center_white">
                    <p>text<br>text</p>
                </div>
            </div>


            <div title="notification-inbox" class="panel max-h-[45%]">
                <p class="center_white font-bold text-3xl">Notifications</p>
                <div>
                  <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
<!--                For each notification
                        <div>
                            notification
                        </div>
-->
            </div>

        </div>

        <!--       MAP                                            -->
        <div title="map" class="w-[40%] panel">
            <div id="map" style="height:690px;"></div>
        </div>



      <!--                     CHAT  AREA                  -->
        <div title="chat-room-area" class="flex flex-col w-[25%] panel">
            <div title="chat-room-tabs">
                   <div title="tabs" class="flex flex-row justify-around">
                       <button class="my-2 tab_button active" type="button">
                           [Public]
                       </button>
                       <button class="my-2 tab_button inactive" type="button">
                           [A user]
                       </button>
  <!--                       for each tab-->
  <!--                            display a tab :)-->
                   </div>
                    <div title="active tab" class="w-[94%] mx-4">
                    </div>
            </div>
            <div title="chat" class="mx-4 bg-[#202329] rounded h-[80%]">
<!--                For each message
                        <p> or whatever
-->
            </div>
            <div title="input-area" class="mx-4 mt-2 rounded bg-white h-[10%] flex">
                <textarea type="text" placeholder="Send a message" class="break-words text-black text-center m-auto rounded w-[100%] h-[100%]"></textarea>
            </div>
        </div>
    </div>
</div>

<script>
function initMap() {
      // Instantiate a directions service.
      const directionsService = new google.maps.DirectionsService();

      // Create a map and center it on my house.
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 14,
        center: { lat: 31.894756, lng: 34.809322 },
      });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqKL67kNJmuQwYxJ8hmFCVBEL3iLTM1xs&callback=initMap&v=weekly&channel=2">
        async
</script>
</body>
</html>
