{% extends "log_reg_temp.html" %}
{% block title %}Inbox{% endblock %}
{% block form %}
<script>
var user = "{{session['user']}}";
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="/static/js/icons.js"></script>
<script src="/static/js/users.js"></script>
<script src="/static/js/socket.js"></script>
<script src="/static/js/buttons.js"></script>

<!--<script src="/static/js/collapse.js"></script>-->
<link rel="stylesheet" href="/static/register.css">
<link rel="stylesheet" href="/static/collapse.css">
<link rel="stylesheet" href="/static/drawing_things.css">
<!--<br><br><h1 id="current_time" class="white" style="text-align:right;margin-right: 50px;">Time</h1><br><br>-->
<!--<div class="popup" id="invite_user_popup">-->
<!--    <h2>-->
<!--        Invite user-->
<!--    </h2>-->
<!--    <div>-->
<!--        <form method="POST" autocomplete="off" action="" id="add_user_form" style="margin: 0 auto;">-->
<!--        <div class="autocomplete" style="position: relative;">-->
<!--            <input required id="invite_user_input" type="text" name="user_to_add" placeholder="Username">-->
<!--        </div><br><br>-->
<!--          <input class="form-button confirm-commit" id="confirm_invite" type="button" style="float: left;" value="Invite"/>-->
<!--          <button type="button" class="form-button close-button" id="user_invite_close" style="float: right;" value="Close">Close</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!---->
    <!--<div class="popup" id="add_loc_popup">-->
    <!--    <h2>-->
    <!--        Add Location-->
    <!--    </h2>-->
    <!--    <div>-->
    <!--        <form method="POST" autocomplete="off" action="" id="add_loc_form" style="margin: 0 auto;">-->
    <!--        <div class="autocomplete" style="position: relative;">-->
    <!--            <input required id="add_loc_name" type="text" name="lat" placeholder="Place name"><br><br>-->
    <!--            <input required id="add_loc_type" type="text" name="lat" placeholder="Place Type (e.g park)"><br><br>-->
    <!--            <input required id="add_loc_lat" type="text" name="lat" placeholder="LAT"><br><br>-->
    <!--            <input required id="add_loc_lng" type="text" name="lng" placeholder="LNG"><br>-->
    <!--        </div><br><br><br>-->
    <!--          <input class="form-button confirm-commit" id="confirm_loc" type="button" style="float: left;" value="Add Location"/>-->
    <!--          <button type="button" class="form-button close-button" id="close_loc" style="float: right;" value="Close">Close</button>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--</div>-->
<div style="height:15px;"></div>

<div class="panel_flex panel_parent_row" style="height: 1000px;">
<!--       LEFT PANEL                                     -->
{% if session['user'] != "Admin" %}
    <div class="panel_flex panel_parent_column" style="width: 30%;">
        <div class="panel" id="members_panel">
            <h2 class="white">Party Members</h2>
            <button type="button" id="invite_user">
                <span class="fa fa-user-plus"></span>
            </button><br><br>
<!--             Members go here      -->
        </div>
        <div class="panel">
            <iframe style="width: 100%; max-height: 500; height: 300px;" src="/inbox" title="Inbox" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
    </div>
{% else %}
<!--       LEFT PANEL                                     -->
    <div class="panel_flex panel_parent_column" style="width: 30%;">
        <div class="panel" id="admin_notifications">
                <br><br><br><br><br>
<!--             Members go here      -->
        </div>
    </div>
{% endif %}

<!--       MAP                                            -->
<div class="panel_flex panel_parent_column" style="width: 40%;">
    <br><br>
    <div id="map" style="height:500px;"></div>
</div>


<!--       RIGHT PANEL                                    -->
{% if session['user'] != "Admin" %}
   <div class="panel_flex panel_parent_column" style="width: 25%;">
        <div class="panel panel_flex panel_parent_column" id="chatroom-title" style="height: 400px;">
           <div style="display:flex; justify-content: space-between; height:35px;">
                <button class="button-40" id="Global_chat">Global</button>
                <button class="button-40" id="Party_chat">Party</button>
            </div>
            <h3 class="white">Chat Room</h3>
            <p class="white" id="chatroom-name">Global</p>

            <div style="text-align: left; margin-top: auto; display:flex; flex-direction:column-reverse; justify-content: flex-start; width:100%;" id="chat_room_messages">

            </div>

            <label class="input" style="">
              <input class="input__field" type="text" placeholder="Write your message" value="" style="" id="chat_input"/>
            </label>
<!--            <div style="height:5px; margin-top: auto;">-->
        </div>
    </div>
   </div>
{% else %}
<!--       RIGHT PANEL                                    -->
   <div class="panel_flex panel_parent_column" style="width: 25%;">
        <div class="panel white" id="online-users-panel">
            <h2>Online Users</h2>
            <div id="users_admin_list"><br>
            </div>
        </div>

   </div>

{% endif %}
</div>
<script src="/static/js/maplogic.js"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqKL67kNJmuQwYxJ8hmFCVBEL3iLTM1xs&callback=initMap&v=weekly&channel=2"
        async
></script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
$("chat_input").on('keyup', function (e) {
    if (e.key === 'Enter' || e.keyCode === 13) {
        console.log(e);
    }
});


</script>
{% endblock %}