{% extends "log_reg_temp.html" %}
{% block title %}Inbox{% endblock %}
{% block form %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="/static/js/socket.js"></script>
<script src="/static/js/buttons.js"></script>
<link rel="stylesheet" href="/static/drawing_things.css">
<br><br><h1 id="current_time" class="white" style="text-align:right;margin-right: 50px;">Time</h1><br><br>
<h1 id="users_online" class="white" style="text-align:center;">1 User(s) Online</h1><br><br>
<script>
user = "{{session['user']}}";
</script>
<div class="popup" id="invite_user_popup">
    <h2>
        Invite user
    </h2>
    <div>
        <form method="POST" autocomplete="off" action="" id="add_user_form" style="margin: 0 auto;">
        <div class="autocomplete" style="position: relative;">
            <input id="invite_user_input" type="text" name="user_to_add" placeholder="Username">

        </div><br><br>
          <input class="form-button confirm-commit" id="confirm_invite" type="button" style="float: left;" value="Invite"/>
          <button type="button" class="form-button close-button" id="user_invite_close" style="float: right;" value="Close">Close</button>
        </form>
    </div>
 </div>

<div class="middle-panel" id="members_panel" style="position:absolute;left:2%;top:10%;margin: 0 auto;width: 15%;visibility:hidden;">
    <h2 class="white">Party Members</h2>
    <button type="button" id="invite_user">
        <span class="fa fa-user-plus"></span>
    </button><br><br>
<!--     Members go here      -->
</div>

<div class="middle-panel" id="create_party_panel" style="width: 50%; margin-left: 25%;margin-bottom: 100px;">
    <button type="button" id="create_party" class="action_button" name="create_party" style="width: 30%;">Create Your Own Party</button><br>
</div>

<div id="floating-panel">
<input name="secret_end" id="secret_end" hidden>
</div>
<h3 id="msg" class="white" style="text-align: center;"></h3>
<div id="map" style="height:500px; width: 50%; margin-left:27%;"></div>
&nbsp;
<div id="warnings-panel"></div>


<script src="/static/js/maplogic.js"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqKL67kNJmuQwYxJ8hmFCVBEL3iLTM1xs&callback=initMap&v=weekly&channel=2"
        async
></script>


<h1 id="users" class="white" style="color: white;"></h1>
<!--<button type="button" id="sort_by_name" style="text-align: center;right:0;">Sort by name</button>-->
<!--<button type="button" id="sort_by_rating" style="text-align: center;right:0;">Sort by rating</button>-->
<!--<button type="button" id="sort_by_distance" style="text-align: center;right:0;">Sort by distance</button>-->

<h1 class="white">Recommended locations</h1>
<div class="white" id="recommended"></div>
<br><br>

<div id="distance_s" style="display: block;">
{% for place_id in session["results"] %}
    {% with place = session["results"][place_id] %}
      <button type="button" id="open" class="collapsible" style="text-align: center;right:0;">{{place["name"]}}</button>
          <div class="content cen" style="color:#fff; background-color:#23272a; display:none;">
           Open right now!<br><br>
            {{place["location"]}}<br>
            {% if place["close_to"] %}
                Vicinity: {{place["close_to"]}}<br>
            {% endif %}
            {% if place["rating"] %}
            Rating: {{place["rating"]}}<br>
              {% endif %}<br>
            {% if place["website"] %}
              <b>Website</b><br>{{place["website"]}}<br>
              {% endif %}<br>
          {% if place["url"] %}
              <b>Google Maps</b><br>{{place["url"]}}<br>
              {% endif %}<br>
          {% if place["open_periods"] %}
              {%for day in place["open_periods"] %}
                {{day}}<br>
              {% endfor %}
          {% endif %}
          <button id="get_map_btn_{{place['id']}}" name="get_map" style="text-align: center;">Get Map</button>
          <script>
            $("#get_map_btn_{{place['id']}}").click(function(e) {
                //document.getElementById("secret_end").value = "{{place['id']}}";
                //console.log(document.getElementById("secret_end").value);
                document.getElementById("secret_end").value = "{{place["location"][0]}}, {{place["location"][1]}}";
                //a = $("#secret_end").value;
                onChangeHandler();

                // notify the server that we are interest in this location
                socket.emit("interested", "{{place['id']}}");
                console.log("Emited 'interested'");

            });
          </script>
<!--          <form action="" method="POST"><br>-->
<!--                <button type="submit" value={{place['id']}} id="get_map_btn_{{place['id']}}" name="get_map" style="text-align: center;">Get Map</button>-->
<!--          </form>-->
          </div>
    {% endwith %}

{% endfor %}
</div>
<div id="distance_r" style="display: none;">
<!--{% for place_id in session["results_rating"] %}-->
<!--    {% with place = session["results_rating"][place_id] %}-->
<!--      <button type="button" id="rating" class="collapsible" style="text-align: center;right:0;">{{place["name"]}}</button>-->
<!--                    <div class="content cen" style="color:#fff; background-color:#23272a; display:none;">-->
<!--           Open right now!<br><br>-->
<!--            {{place["location"]}}-->
<!--            {% if place["close_to"] %}-->
<!--                Vicinity: {{place["close_to"]}}<br>-->
<!--            {% endif %}-->
<!--            {% if place["rating"] %}-->
<!--            Rating: {{place["rating"]}}<br>-->
<!--              {% endif %}<br>-->
<!--            {% if place["website"] %}-->
<!--              <b>Website</b><br>{{place["website"]}}<br>-->
<!--              {% endif %}<br>-->
<!--          {% if place["url"] %}-->
<!--              <b>Google Maps</b><br>{{place["url"]}}<br>-->
<!--              {% endif %}<br>-->
<!--          {% if place["open_periods"] %}-->
<!--              {%for day in place["open_periods"] %}-->
<!--                {{day}}<br>-->
<!--              {% endfor %}-->
<!--          {% endif %}-->
<!--          <form action="" method="POST"><br>-->
<!--                <button type="submit" value={{place['id']}} id="get_map_btn_{{place['id']}}_1" name="get_map" style="text-align: center;">Get Map</button>-->
<!--          </form>-->
<!--          {% if 'route map' in session %}-->
<!--            <img src="static/{{session['name']}}_route_map.jpg">-->
<!--          {% endif %}-->

<!--          </div>-->
<!--    {% endwith %}-->
<!--{% endfor %}-->
</div>
<div id="distance_n" style="display: none;">
<!--{% for place_id in session["results_name"] %}-->
<!--    {% with place = session["results_name"][place_id] %}-->
<!--      <button type="button" id="name_btn" class="collapsible" style="text-align: center;right:0;">{{place["name"]}}</button>-->
<!--                   <div class="content cen" style="color:#fff; background-color:#23272a; display:none;">-->
<!--           Open right now!<br><br>-->
<!--            {{place["location"]}}-->
<!--            {% if place["close_to"] %}-->
<!--                Vicinity: {{place["close_to"]}}<br>-->
<!--            {% endif %}-->
<!--            {% if place["rating"] %}-->
<!--            Rating: {{place["rating"]}}<br>-->
<!--              {% endif %}<br>-->
<!--            {% if place["website"] %}-->
<!--              <b>Website</b><br>{{place["website"]}}<br>-->
<!--              {% endif %}<br>-->
<!--          {% if place["url"] %}-->
<!--              <b>Google Maps</b><br>{{place["url"]}}<br>-->
<!--              {% endif %}<br>-->
<!--          {% if place["open_periods"] %}-->
<!--              {%for day in place["open_periods"] %}-->
<!--                {{day}}<br>-->
<!--              {% endfor %}-->
<!--          {% endif %}-->
<!--          <form action="" method="POST"><br>-->
<!--                <button type="submit" value={{place['id']}} id="get_map_btn_{{place['id']}}_2" name="get_map" style="text-align: center;">Get Map</button>-->
<!--          </form>-->
<!--          {% if 'route map' in session %}-->
<!--            <img src="static/{{session['name']}}_route_map.jpg">-->
<!--          {% endif %}-->
<!--          </div>-->
<!--    {% endwith %}-->
<!--{% endfor %}-->
</div>
<div class="middle-panel" style="width: 50%; margin-left: 25%;margin-bottom: 100px;">
    <form action="" method="POST"><br>
        <input type="text" name="type" id="type" placeholder="Type" autocomplete="off"><br><br>
        <input type="text" name="radius" id="radius" placeholder="Radius" autocomplete="off"><br><br>
        <input type="text" name="min_rating" id="min_rating" placeholder="Rating" autocomplete="off"><br><br>
        <input type="text" name="limit" id="limit" placeholder="Limit" autocomplete="off"><br><br>
        <button type="submit" name="search_place" class="action_button" style="width: 30%;">Search</button>
    </form>
</div>
{% endblock %}